__pycache__/
*.py[cod]
*$py.class
.env
venv/
vscode/

eggs/
.eggs/
lib/
*.egg-info/
.installed.cfg
*.egg
*.spec
.coverage
.coverage.*
.cache
*.py,cover
.pytest_cache/
cover/
*.mo
*.pot
db.sqlite3
.scrapy
docs/_build/
.pybuilder/
target/
ipython_config.py
#uv.lock
__pypackages__/
.pytype/

# Cython debug symbols
cython_debug/
